<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<link href="../static/css/users.css" rel="stylesheet">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Users of {{ org_name }}</h1>

          <div class="table-responsive">
            {{ users_table }}
          </div>

          <h2 class="sub-header">Invite a new user</h2>

        <form action="" method="POST" class="form-add-user">
            <div class="add-user-left">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="add-user-right">
                <button class="btn btn-primary" type="submit">Invite!</button>
            </div>
        </form>
          
        </div>
{% endblock %}