/*
 * Add a new service.
 */

.form-control {
  height: 50px;
  width: 500px;
}
.form-control {
    margin-bottom: 5px;
}
.form-add-service .form-control:focus {
  z-index: 2;
  outline: none !important;
  border:1px solid #e07f31;
  box-shadow: 0 0 10px #e07f31;
}
.btn {
    width: 500px; 
    height: 50px;
    background-color: #f29346; 
    border-color: #f29346;
}
.btn:hover {
  background-color: #e07f31;
  border-color: #e07f31;
}
.remove-btn {
  background-color: #f44336;
  color: white;
  border-radius: 8px;
  width: 80%;
  font-size: 13px;
}
.remove-btn:hover {
  background-color: #c61103;
}